# SPDX-License-Identifier: GPL-3.0-or-later

name: Check Python Package

on:
  push:
  pull_request:
    branches:
      - master

permissions:
  actions: read
  contents: read
  security-events: write

jobs:

  code-ql:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: python
          queries: security-and-quality
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: pip install ruff
      - name: Run linter
        run: ruff check --output-format=github
